---
import QuestionSection from "../components/QuestionSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Simple Frequently Asked Questions (FAQ)"
  description="Browse through the most frequently asked questions"
>
  <main>
    <div>
      <h1>Frequently Asked Questions</h1>
      <p>Browse through the most frequently asked questions</p>
    </div>
    <QuestionSection />
  </main>
</Layout>

<style>
	div {
		text-align: center;
	}
  h1 {
    font-size: 2.25rem;
    margin-bottom: 16px;
    line-height: 1;
  }
</style>